@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
  body {
    @apply text-gray-darkest font-semibold 
  }
  a {
    @apply hover:!text-primary ease-linear transition
  }
  .default-transition {
    @apply transition-all ease-ease duration-300
  }
  .dropdownCustom .active {
    @apply !opacity-100 top-[110%] !pointer-events-auto
  }

}


@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px !important;
  }
}


body {
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.container-button{
  border: 1px transparent solid;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  transition: all ease 300ms;
  padding: 10px;
  transform-origin: center center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;;
}


.button > .content {
  transform: rotate(-45deg);
}


.button {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all;
  transition: all ease 300ms;
  border: none;
  cursor: pointer;
}



.border-boder-white:hover {
  border-color: white;
}


.border-boder-white:hover .button,
.border-normal:hover .button {
  transform: scale(1.2);
  background: white;
}

.container-dots {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -40px);
}

.container-dots li {
  margin-right: 10px;
}

.container-dots .slick-active .container-button {
  border-color: white;
}

.container-dots .slick-active .container-button .button {
  transform: scale(1.2);
  background: white !important;
}