@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
  body {
    @apply text-gray-darkest font-semibold 
  }
  a {
    @apply hover:!text-primary ease-linear transition
  }
  .default-transition {
    @apply transition-all ease-ease duration-300
  }
  .dropdownCustom .active {
    @apply !opacity-100 top-[110%] !pointer-events-auto
  }

  

  strong {
    @apply font-bold
  }

  .table-body-item td {
    @apply border-t-[1px] border-t-c-2 border-solid border-b-[1px] border-b-c-2
  }
  
  .table-body-item td:first-child {
    @apply border-t-[1px] border-t-c-2 border-solid border-b-[1px] border-b-c-2  border-l-[1px] border-l-c-2 
  }
  
  .table-body-item td:last-child {
    @apply border-t-[1px] border-t-c-2 border-solid border-b-[1px] border-b-c-2  border-r-[1px] border-r-c-2 
  }

  a:hover {
    @apply text-primary
  }

  .px-15 {
    @apply px-[15px]
  }

}



@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px !important;
  }
}

.g-15, .gx-15 {
  --bs-gutter-x: 1.875rem;
}


body {
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.container-button{
  border: 1px transparent solid;
  transform: rotate(45deg) ;
  transition: all ease 300ms;
  padding: 10px;
  transform-origin: center center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button > .content {
  transform: rotate(-45deg);
}


.button {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all;
  transition: all ease 300ms;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}



.border-boder-white:hover {
  border-color: rgb(79, 79, 79);
}


.border-boder-white:hover .button,
.border-normal:hover .button {
  transform: scale(1.2);
  background: white;
}



.container-dots {
  display: flex;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -40px);
}

.container-dots.container-dots-testimonial {
  transform: translate(60%, -40px);
}

.container-dots li {
  margin-right: 10px;
}

.container-dots .slick-active .container-button {
  border-color: white;
}

.container-dots .slick-active .container-button .button {
  transform: scale(1.2);
  background: white !important;
}

.container-dots .slick-active .container-button-second {
  border-color: #f28288;
  transform: scale(1.2) rotate(45deg);
}

.container-dots .slick-active .container-button-second .button {
  transform: scale(1.0);
  background: #f28288 !important; 
}
/* table */

/* .tableCart tr {
  border: none;
} */

.tableCart td:first-child,
.tableCart th:first-child {
  border-radius: 6px 0 0 6px;
}

.tableCart td:last-child,
.tableCart th:last-child {
  border-radius: 0 6px 6px 0;
}


/* Home page css */

/* footer */

.footer_logo-text p{
  font-weight: 500;
  font-size: 110px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.4;
}

.footer_logo-text span {
  font-family:  'Montserrat', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  bottom: -15%;
  left: 20%;
  color: #bebebe;
}

.filter-range[type="range"]::-webkit-slider-runnable-track {
  /* appearance: none; */
  height: 5px;
}

.filter-range[type="range"]::-moz-range-track {
  /* appearance: none; */
  height: 5px;
}

.filter-range[type="range"]::-ms-track {
  /* appearance: none; */
  height: 5px;
}

.filter-range[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 1.7rem;
  width: 1.7rem;
  background: red;
  cursor: pointer;
  pointer-events: auto;
}

#left.filter-range[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 2rem;
  width: 2rem;
  background: #000;
  cursor: pointer;
  pointer-events: auto;
}

/* row */

.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 30px;
}

/* diamond */

.diamond::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: #444444;
  top: 50%;
  left: 0%;
  transform: translateY(-50%) rotate(45deg);
}

/* react slick */

 .product-detail-dots-custom > li{
  width: 100% !important;
  height: 100% !important;
} 

.pseudo-diamond::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
}